<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
</head>
<style>
  body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
  }
  .container {
      background-color: #b2c6db;
      color: #0f0f0f;
      font-size: 35px;
      border-radius: 10px;
      padding: 50px;
      text-align: center;
      box-shadow: 0 0 10px rgba(20, 0, 0, 0.4);
  }
</style>
</head>
<body>
<div class="container">
  <p>You have successfully logged out Llama.cui!</p>
</div>
</body>
</html>
