body {
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255);
}
.row{
flex-wrap: nowrap!important;
}

.chat-container {
  position: relative;
  max-width: 100vw;
  max-height: 90vh;
  margin: 5px auto;
  /* border-right: 1px solid #ccc;
    border-left: 1px solid #ccc; */
  border-radius: 0px;
}

.chat-messages {
  position: relative;
  max-height: 75vh;
  height: 75vh;
  overflow-y: scroll;
  padding-top: 10px;
  padding-bottom: 60px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.input-container {
  max-height: 20vh;
  display: flex;
}
.input-container textarea {
  flex-grow: 1;
  padding: 10px;
  height: 50px;
  border: 1px solid #343a40;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.user-tile {
  background-color: rgb(222, 243, 250);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.bot-tile {
  background-color: rgb(228, 232, 228);
  padding: 10px;
  padding-left: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#sendMessage{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

ul {
  list-style: none;
}

.list-group {
  background-color: rgb(53, 51, 51);
}
.list-group-item {
  background-color: rgb(53, 51, 51);
  color: #ffffff;
  border-left: none;
  border-right: none;
  border-top: 1px solid rgb(83, 83, 83);
  border-radius: 0 !important;
}
.list-group-item:hover {
  cursor: pointer;
  background-color: rgb(110, 109, 109);
}

.rightsidebar {
  background-color: rgb(53, 51, 51);
  max-width: 300px;
  height:100vh;
}

.sidebar {
  max-height: 100%;
  overflow: scroll;
  background-color: rgb(53, 51, 51);
}

.sidebar::-webkit-scrollbar {
  display: none;
}
.stopper{
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  margin-top: -60px;
  text-align: center;
  /* border: 1px solid #CCC; */
  display: none;
}

.noborder{
  display: block;
  /* border-radius: 0!important; */
  height:35px!important;
  width:36px!important;
  border-radius: 5px !important;
  border: 1px solid #414040;
  background-color: rgb(53, 51, 51);
  outline: none !important;
}

.noborder:hover{
  background-color: rgb(112, 108, 108);
  cursor:pointer;
}
.remove{
  background-color: #f18f8f!important;
  /* border: 1px solid #db0404!important; */
  color:#faf9f9!important;
}

.list-group-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Add margin to the button */
.list-group-item-container button {
  margin-right: 10px;
  /* background-color: rgb(255, 255, 255); */
}

.trashicon {
  width:20px; 
  height:20px;
  text-align: center;
  fill: red;
}

@media (max-width: 767px) {
  .rightsidebar {
    display: none;
  }
  .chat-container {
    width: 100%; /* Expand the main chat container on small screens */
  }
}

textarea {
  resize: none;
}