:root {
  --brown: #0d1117;
  --white: #ffffff;
  --dark-main: #080808;
  --dark: #2b2a2a;
  --btn-outline: #47334d;
  --btn-stop: #af9fae;
  --textarea: rgb(211, 192, 230) !important;
  --btn-send: var(--textarea);
  --corner:15px;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--brown);
  line-height: 1.2 !important;
  background: radial-gradient(circle at center, rgba(10,3,17,1) 0%, rgba(11,3,19,1) 20%, rgba(11,4,14,1) 40%, rgba(3,2,2,1) 60%, rgba(0,2,2,1) 80%, rgba(0,1,1,1) 100%);
  overflow: hidden;
}

.form-control{
  line-height: 1.2 !important;
}

.row {
  flex-wrap: nowrap !important;
}

.toolbar {
  /* border-bottom: 1px solid #686868; */
  width: 96%;
  margin-bottom: 7px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-right: 200px;
}


.chat-container {
  position: relative;
  max-width: 85vw;
  max-height: calc(100vh - 140px);
  margin: 5px auto;
  border-radius: 0px;
  background-image: url("../img/bg.svg");
  background-blend-mode:darken;
  background-size: 20rem;
  background-repeat: no-repeat;
  background-position: center;
}

.chat-messages {
  position: relative;
  max-height: calc(85vh - 140px);
  height: 100vh;
  overflow-y: scroll;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
  padding-right: 10px;
  scrollbar-width: auto; /* For Firefox */
  scrollbar-color: var(--btn-outline); /* For Firefox */
}

/* For Chrome, Safari, and other WebKit browsers */
.chat-messages::-webkit-scrollbar {
  width: 7px; /* Adjust the width as needed */
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: var(--btn-outline); /* Color for the scrollbar thumb */
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(34, 34, 34, 0.2);
}

.chat-messages::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Color for the scrollbar track */
  border-radius: 10px;
}
/* ::-webkit-scrollbar {
  display: none;
  width: 0;
} */

input:focus,
button {
  outline: none !important;
  box-shadow: none !important;
}

@media (max-width: 768px) {
  /* Apply these styles for screens with a max width of 768px (typical for mobile devices) */
  .input-container {
    width: 100%;
  }
}

@media (min-width: 769px) {
  /* Apply these styles for screens with a width greater than or equal to 769px (typical for desktop) */
  .input-container {
    width: 70%;
  }
}

.input-container {
  max-height: 120px;
  min-height: 60px;
  margin: 0 auto;
  display: flex;
}


textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  background-color: (--textarea) !important;
}

.input-container textarea {
  display: flex;
  padding-top: 20px !important;
  min-height: 50px !important;
  padding-left: 20px !important;
  padding-bottom: 5px !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: var(--corner);
  border-top-left-radius: var(--corner);
  align-items: center;
  justify-content: center;
  border: none !important;
  background-color: var(--textarea) !important;
  resize: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /* Disable textarea resizing by user */
}

.tileheader {
  height: 30px;
  /* border-bottom: 1px solid #d4d4d4; */
  text-align: center;
  color: #868686;
  padding-top: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  /* Center items vertically within the flex container */
}

.headerbutton {
  height: 30px;
  width: 30px;
  padding-top: 0px;
  border: none !important;
  text-align: center;
  color: #6d6c6c;
  background-color: inherit;
  font-weight: bold;
  cursor: pointer;
}

.user-tile {
  background-color: rgb(201, 235, 247);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  word-wrap: normal;
}

.bot-tile {
  background-color: rgb(208, 252, 208);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.sendmessage {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: var(--corner);
  border-bottom-right-radius: var(--corner);
  border: none !important;
  outline: none !important;
  color: var(--btn-stop) !important;
  background-color: var(--btn-send) !important;
  align-self: stretch;
  text-align: center;
}

.sendmessage:hover {
  background-color: var(--btn-send) !important;
}

ul {
  list-style: none;
}

.list-group-item {
  background-color: inherit !important;
  color: var(--white);
  font-size: 14px;
  border: none;
  height: 40px;
  width:85%; 
  margin-top: 7px;
  margin-bottom: 7px;
  word-wrap: unset;
  overflow: hidden;
  white-space: nowrap;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  position: relative;
}


.list-group-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--dark-main) !important; */
  /* border-radius: 5px !important; */
  margin-bottom: 1px;
  height: 40px;
}
.list-group-item-container:hover {
  cursor: pointer;
  background-color: var( --btn-outline) !important;
  border-radius:  4px !important;
  color: var(--white);
}

.delete-button {
  background-color: var(--btn-outline)!important;
  color: #868686!important;
  border: none !important;
  outline: none;
  border: none!important;
}
.hidden {
  display: none;
}

.sidebar {
  height: calc(100vh - 175px);
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



.stopper {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  align-self: center;
  text-align: center;
  margin-left: -50px;
  border: 1px solid var(--btn-stop) !important;
  color: var(--btn-stop);
  display: none;
}

.noborder {
  /* display: block; */
  /* border-radius: 0!important; */
  height: 35px !important;
  width: 35px !important;
  border-radius: 5px !important;
  border: none;

  /* background-color: rgb(80, 77, 77); */
  outline: 0 !important;
}

.noborder:hover {
  background-color: rgb(112, 108, 108);
  cursor: pointer;
}

.remove {
  background-color: #f32222 !important;
  border: 0;
  color: var(--white) !important;
}

@media (max-width: 767px) {
  .rightsidebar {
    display: none;
  }

  .chat-container {
    width: 100%;
    
    /* Expand the main chat container on small screens */
  }
}

.embed {
  padding: 7px;
  width: 68px;
  margin-right: 5px;
  height: 38px;
  display: flex;
  color: var(--white);
  background-color: var(--dark-main);
  /* border: 1px solid var(--btn-outline); */
  border-radius: 5px;
}

.embed-check {
  padding: 8px;
  cursor: pointer;
}

.embed-icon {
  padding-left: 15px;
}

.left-sidebar {
  display: none;
  padding-left: 8px !important;
  padding-right: 8px !important;
  background: linear-gradient(circle, #1b0331, #180d0d)  !important;
  /* border-right: 1px solid; */
  /* border-image: linear-gradient( rgb(41, 17, 40), rgb(30, 10, 39)) 1!important; */
  max-width: 300px;
  height: calc(100vh - 54px);
}

.left-sidebar.open {
  display: block;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.left-sidebar ::-webkit-scrollbar {
  display: none;
  width: 0;
}


.chat-container.open {
  max-width: calc(80vw - 300px);

  /* Adjust the width according to your design */
}

.sidebar-toggle.open i::before {
  content: "\f00d";
  /* Change to the close icon you prefer */
}

.theme {
  background-color: inherit;
  color: var(--btn-outline);
  /* background-image: linear-gradient(290deg,  rgba(140, 175, 175, 0) 0%,  var(--dark-main)   100%); */
  /* border: 1px solid var( --btn-outline);
  */
  background-color: #21162b;
}

.theme:hover {
  background-color: var(--btn-outline);
  color: var(--white) !important;
}

.themenav {
  /* background-color: var(--dark-main); */
  background: linear-gradient(circle, #1b0331, #180d0d)  !important;
  /* border-bottom:  linear-gradient(#1b0331, #180d0d)  !important; */
  border-bottom: 1px solid;
  border-image: linear-gradient( rgb(17, 17, 41), rgb(22, 7, 29)) 1!important;
  color: var(--btn-outline);

}

.collapsible {
  /* background-color: inherit; */
  cursor: pointer;
  padding: 7px;
  width: 273px;
  /* border: 1px solid var( --btn-outline); */
  /* text-align: left; */
  font-size: 16px;
  margin-bottom: 10px;
}

.active,
.collapsible:hover {
  background-color: var( --btn-outline);
  color: var(--white);
  border-radius: 5px;
}

.content {
  padding: 12px;
  display: none;
  overflow: hidden;
  outline: none;
  background-color: inherit;
  border-radius: 5px;
}

.bottom-left {
  border-top: 1px solid var( --btn-outline);
  display: block;
  overflow: hidden;
  outline: none;
  /* background-color: inherit; */
  border-radius: 0px;
}

.tester {
  display: flex;
  justify-content: space-between;
  padding-right: 8px;
  padding-top: 8px;
  border-radius: 10px !important;
}

.navbar {
  padding: 0.5rem 0.5rem;
}

.vcenter {
  width: 100%;
  margin: 0 40%;
}